language: java

services:
  - docker
  
jdk:
  - oraclejdk8
#  - openjdk11



addons:
  sonarcloud:
    organization: "quentinmarescaux-github" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN # encrypted value of your token

before_install:
  - echo "before_install"
  - echo $TRAVIS_COMMIT
  - echo $TRAVIS_TAG
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_BUILD_NUMBER
  - echo $TRAVIS_REPO_SLUG
  - echo $TRAVIS_COMMIT_MESSAGE


install: true


before-script:
  - echo "before_script"


      
script:
  # other script steps might be done before running the actual analysis
  - sonar-scanner
  - docker build -t petclic:$TRAVIS_BUILD_NUMBER
  #- curl https://cli-assets.heroku.com/install.sh | sh



after_success:
  - echo "success"
  

after_failure:
  - echo "success"
